{% extends 'base.html.twig' %}

{% block title %}Digi Vragenlijst {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('surveystyles') }}
{% endblock %}

{% block body %}

    {% include 'components/header.html.twig' %}
    {#
        <div class="container-fluid" style="height: 100%;">
            <div class="row displayMobile d-flex d-lg-none flex-wrap-reverse">
                <div class="col-12 col-lg-2">
                    <div class="iconsMobile">
                        <div class="d-flex my-4">
                            <a href=#<>img class="d-block m-auto" width="150px" src="{{ asset('build/images/logo.png') }}" ></
                        </div>
                        <div class="d-flex my-4">
                            <a href=#<>img class="d-block m-auto " width="150px" src="{{ asset('build/images/haagselogo.png') }}" ></
                        </div>
                        <div class="d-flex my-4">
                            <a href=#<>img class="d-block m-auto" width="125px" src="{{ asset('build/images/dif_logo-format2.jpg') }}" ></
                        </div>
                        <div class="d-flex my-4">
                            <a href=#<>img class="d-block m-auto" width="125px" src="{{ asset('build/images/zoetermeer.png') }}" ></
                        </div>
                        <div class="d-flex my-4">
                            <a href=#<>img class="d-block m-auto" width="125px" src="{{ asset('build/images/denhaag.jpg') }}" ></
                        </div>
                        <div class="d-flex my-4">
                            <a href=#<>img class="d-block m-auto" width="125px" src="{{ asset('build/images/delft.png') }}" ></
                        </div>
                    </div>
                </div>
                <div class="background col-lg-10" style="background-color: #221E1F;">
                    <p class="text-white text-center m-4 font-weight-bold partext addtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit mattis leo a condimentum.</p>

                    <div class="question">
                        <h2 class="text-white text-center my-4 font-weight-bold">1. Hoe vaak eet jij patat?</h2>
                        {% set type = question.type.Name %}
                        {% if type == "Multiple Choice" %}
                            {% include "components/survey/multipleChoise.html.twig" %}

                            {% elseif type == "Rating" %}
                                {% include "components/survey/rating.html.twig" %}
                            {% else %}
                                {% include "components/survey/multipleChoise.html.twig" %}
                        {% endif %}

                        <div class="nextback options text-white text-center mt-4">
                            <div class="surveycontrols">
                                {% if id > 1 %}
                                    <a href="{{ path('survey_fill', {id: id - 1 }) }}" class="btn btn-outline-light">Vorige</a>
                                {% endif %}
                                    <a href="{{ path('survey_fill', {id: id + 1 }) }}" class="btn btn-outline-light">Volgende</a>
                            </div>
                        </div>
                        <div class="progressbar mb-5">
                            <p class="text-center text-white partext">{{ id }} van de {{ questions|length }}</p>
                            <div class="progressback" style="height: 10px; background-color: #c4c4c4; width: 50%; margin-left: auto; margin-right: auto;">
                                {% set progress = 100 / questions|length * id %}
                                <div class="progressinner" style="height: 10px; width: {{ progress }}%; background-color: #f8ef22;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> #}


   <div class="row displayDesktop">

       {% set Value = "" %}
       {#   <div class="col-12 col-lg-2 p-0 stichtingen" style="display: flex; flex-direction: column; flex-wrap: wrap;">
            <div class="d-flex m-auto py-4 iconsDesktop">
                  <a href="#"><img class="d-block m-auto" width="150px" src="{{ asset('build/images/logo.png') }}"></a>
              </div>
              <div class="d-flex m-auto py-4 iconsDesktop">
                  <a href="#"><img class="d-block m-auto " width="150px" src="{{ asset('build/images/haagselogo.png') }}"></a>
              </div>
              <div class="d-flex m-auto py-4 iconsDesktop">
                  <a href="#"><img class="d-block m-auto" width="125px"
                                   src="{{ asset('build/images/dif_logo-format2.jpg') }}"></a>
              </div>
              <div class="d-flex m-auto py-4 iconsDesktop">
                  <a href="#"><img class="d-block m-auto" width="125px" src="{{ asset('build/images/Logo-gemeente-Zoetermeer-300x100.9a45b4b1.png') }}"></a>
              </div>
              <div class="d-flex m-auto py-4 iconsDesktop">
                  <a href="#"><img class="d-block m-auto" width="125px" src="{{ asset('build/images/denhaag.jpg') }}"></a>
              </div>
              <div class="d-flex m-auto py-4 iconsDesktop">
                  <a href="#"><img class="d-block m-auto" width="125px" src="{{ asset('build/images/delft.png') }}"></a>
              </div>

        </div>
        #}
          <div class="background" style="background-color: #221E1F;">
              <p class="text-white text-center mt-4 font-weight-bold partext addtext">{{ question.survey.name }}</p>

    <div class="question">

                <h2 class="text-white text-center my-5 pb-5 font-weight-bold">{{ id }}. {{ question.Name }}</h2>
                {% set type = question.type.Name %}
                {% if type == "Multiple Choice" %}
                    {% include "components/survey/multipleChoise.html.twig" %}

                {% elseif type == "Rating" %}
                    {% include "components/survey/rating.html.twig" %}

                {% elseif type == "Open" %}
                    {% include "components/survey/openQuestion.html.twig" %}

                {% else %}
                    {% include "components/survey/multipleChoise.html.twig" %}
                {% endif %}

                <div class="nextback options text-white text-center">
                    <div class="surveycontrols">
                        {% if id > 1 %}
                            <a href="{{ path('survey_fill', {id: id - 1 }) }}" class="btn btn-outline-light">Vorige</a>
                        {% endif %}
                        <a href="{{ path('survey_fill', {id: id + 1 }) }}" class="btn btn-outline-light">Volgende</a>
                    </div>
                </div>

                <div class="progressbar mb-5">
                    <p class="text-center text-white partext">{{ id }} van de {{ questions|length }}</p>
                    <div class="progressback"
                         style="height: 10px; background-color: #c4c4c4; width: 50%; margin-left: auto; margin-right: auto;">
                        {% set progress = 100 / questions|length * id %}
                        <div class="progressinner"
                             style="height: 10px; width: {{ progress }}%; background-color: #f8ef22;"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        const inputs = document.getElementsByClassName('selectInput')
        let active

        for (let x = 0; x < inputs.length; x++) {
            const input = inputs[x]

            input.addEventListener('click', (e) => {

                if (active) {
                    active.classList.toggle('active')
                }

                active = e.target
                e.target.classList.toggle('active')
            })
        }

    </script>
{% endblock %}
