{% extends 'base.html.twig' %}

{% block title %}Survey index{% endblock %}

{% block body %}
    <h1>Survey index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            <tr>
                <td>{{ survey.id }}</td>
                <td>{{ survey.Name }}</td>
                <td>{{ survey.Active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('survey_show', {'id': survey.id}) }}">show</a>
                    <a href="{{ path('survey_edit', {'id': survey.id}) }}">edit</a>
                    <a href="{{ path('survey_active', {'id': survey.id}) }}">Maak actief</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('survey_new') }}">Create new</a>
{% endblock %}
